<template>
  <div id="mainDiv">
    <img :src="imgUrl" id="frameViewer"/>

    <Button @click="update" :disabled="isAutoupdate" style="margin-top:1em">Update</Button>
    <div>
      <input type="checkbox" id="autoupdate" v-model="isAutoupdate" @change="onCheckboxUpdate"></input>
      <label for="autoupdate" class="ml-2">Autoupdate</label>
    </div>
  </div>
</template>

<style scoped>
#frameViewer {
  width: 65%;
  height: auto;
}

#mainDiv {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>

<script setup>
import Checkbox from 'primevue/checkbox';
import {onMounted, ref, onUnmounted} from 'vue'
import axios from 'axios'

//const url = "ws://" + window.location.host + "/api/frame"
//const socket = new WebSocket(url);
const encoder = new TextEncoder("utf-8");
const imgUrl = ref("https://lh3.googleusercontent.com/_iTImEe7IcPsStVD8uWgdsfOTWdJwGwCHeCNUhPpMS0gQ32TcGfcMsiPSzAT1aEKKykYeMcN25ZhrKoMHpmHX0JqeUfu4Vof7yvfv30H52nUi0ClXTjiNTI4XgO-uf24ug=w1280")
const isAutoupdate = ref(false);

function imageUpdate(){
  const url = window.location.href+"api/frame"
  //const url = "http://127.0.0.1:8000/api/frame"
  axios.get(url).then(d=>{
    const image = 'data:image/jpeg;base64,' + d.data;
    imgUrl.value=image
    if (isAutoupdate.value==true) imageUpdate()
  })
}


function update(event) {
  imageUpdate()
}

function onCheckboxUpdate(event) {
  if (isAutoupdate.value == true) {
    imageUpdate()
  }
}

onMounted(() => {
  imageUpdate()
})
onUnmounted(()=>{

})
</script>